rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isCurator() {
      return request.auth != null && request.auth.token.email == "YOUR_EMAIL@GMAIL.COM";
    }
    match /essays/{essayId} {
      allow read: if true;
      allow write: if isCurator();
    }
  }
}
